.env
ecs-task-trust.json
ws-server-taskdef.json
python-service-taskdef.json
remote/**/*
inspect/**/*
schema-taskdef.json
notes.md
.certs
oac-*
dist-arn-*
dist-domain-*
bucket-policy-*
dist-config-prod*.json