@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "tw-animate-css";

@config "../tailwind.config.ts";

@custom-variant dark (&:where([data-theme=dark], .dark, [data-theme=dark] *));

@font-face {
  font-family: "CalSans";
  src: url("https://raw.githubusercontent.com/DopamineDriven/d0paminedriven/refs/heads/master/packages/turbogen/public/CalSans-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CalSans";
  src: url("https://raw.githubusercontent.com/DopamineDriven/d0paminedriven/refs/heads/master/packages/turbogen/public/CalSans-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cal-sans: CalSans, sans-serif;
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.45% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.45% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.45% 0 0);
  --color-primary: oklch(54.49% 0.2154 262.7);
  --color-primary-foreground: oklch(98.48% 0 0);
  --color-secondary: oklch(97.03% 0 0);
  --color-secondary-foreground: oklch(20.44% 0 0);
  --color-muted: oklch(97.03% 0 0);
  --color-muted-foreground: oklch(55.55% 0 0);
  --color-accent: oklch(97.03% 0 0);
  --color-accent-foreground: oklch(20.44% 0 0);
  --color-destructive: oklch(63.68% 0.2078 25.33);
  --color-destructive-foreground: oklch(98.48% 0 0);
  --color-border: oklch(92.19% 0 0);
  --color-input: oklch(92.19% 0 0);
  --color-ring: oklch(54.49% 0.2154 262.7);
  --color-chart-1: oklch(67.72% 0.1571 35.19);
  --color-chart-2: oklch(63.09% 0.1013 183.5);
  --color-chart-3: oklch(37.87% 0.04398 225.5);
  --color-chart-4: oklch(83.36% 0.1186 88.15);
  --color-chart-5: oklch(78.34% 0.1261 58.75);
  --color-hue-0: oklch(0.9434 0.199 105.96);
  --color-hue-1: oklch(0.6477 0.263 359.98);
  --color-hue-2: oklch(0.6404 0.3 324.36);
  --color-hue-3: oklch(0.5636 0.292 301.63);
  --color-hue-4: oklch(0.5898 0.211 259.36);
  --color-hue-5: oklch(0.8203 0.141 210.49);
  --color-hue-6: oklch(0.8842 0.107 168.47);
  --color-brand-background: oklch(100% 0 0);
  --color-brand-sidebar: oklch(97.72% 0 0);
  --color-brand-component: oklch(96.19% 0 0);
  --color-brand-border: oklch(92.34% 0 0);
  --color-brand-ring: oklch(64.95% 0.1913 253.6);
  --color-brand-primary: oklch(95.28% 0.005264 247.9);
  --color-brand-primary-foreground: oklch(32.11% 0 0);
  --color-brand-text: oklch(24.84% 0 0);
  --color-brand-text-muted: oklch(51.03% 0 0);
  --color-brand-text-emphasis: oklch(18.15% 0 0);
  --radius-sm: 0.25rem;

  --container-8xl: 96rem;
  --container-9xl: 120rem;
  --container-10xl: 173.75rem;

  --spacing-8xl: 96rem;
  --spacing-9xl: 120rem;
  --spacing-10xl: 173.75rem;

  --perspective-1000: 1000px;

  --text-sxs: 0.625rem;
  --text-sxs--line-height: calc(0.875 / 0.625);
  --text-xxs: 0.5rem;
  --text-xxs--line-height: calc(0.75 / 0.5);

  --animate-shimmer: shimmer 3s cubic-bezier(0.4, 0.7, 0.6, 1) infinite;
  @keyframes shimmer {
    0% {
      opacity: 0.5;
    } /* Start with a semi-transparent state */
    50% {
      opacity: 1;
    } /* Become fully visible */
    100% {
      opacity: 0.5;
    } /* Return to semi-transparent */
  }

  --animate-twinkle: twinkle 5s infinite;
  @keyframes twinkle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
  }
}

@layer theme {
  :host {
    --color-background: var(--color-background);
  }
  .dark {
    --color-background: oklch(14.45% 0 0);
    --color-foreground: oklch(98.48% 0 0);
    --color-card: oklch(14.45% 0 0);
    --color-card-foreground: oklch(98.48% 0 0);
    --color-popover: oklch(14.45% 0 0);
    --color-popover-foreground: oklch(98.48% 0 0);
    --color-primary: oklch(98.48% 0 0);
    --color-primary-foreground: oklch(20.44% 0 0);
    --color-secondary: oklch(26.86% 0 0);
    --color-secondary-foreground: oklch(98.48% 0 0);
    --color-muted: oklch(26.86% 0 0);
    --color-muted-foreground: oklch(71.53% 0 0);
    --color-accent: oklch(26.86% 0 0);
    --color-accent-foreground: oklch(98.48% 0 0);
    --color-destructive: oklch(39.59% 0.1331 25.72);
    --color-destructive-foreground: oklch(98.48% 0 0);
    --color-border: oklch(26.86% 0 0);
    --color-input: oklch(26.86% 0 0);
    --color-ring: oklch(86.97% 0 0);
    --color-chart-1: oklch(52.92% 0.1931 262.1);
    --color-chart-2: oklch(69.83% 0.1337 165.5);
    --color-chart-3: oklch(72.32% 0.15 60.63);
    --color-chart-4: oklch(61.92% 0.2037 312.7);
    --color-chart-5: oklch(61.23% 0.2093 6.386);
    --color-hue-0: oklch(0.9434 0.199 105.96);
    --color-hue-1: oklch(0.6477 0.263 359.98);
    --color-hue-2: oklch(0.6404 0.3 324.36);
    --color-hue-3: oklch(0.5636 0.292 301.63);
    --color-hue-4: oklch(0.5898 0.211 259.36);
    --color-hue-5: oklch(0.8203 0.141 210.49);
    --color-hue-6: oklch(0.8842 0.107 168.47);
    --color-brand-background: oklch(17.24% 0.03273 270.9);
    --color-brand-sidebar: oklch(20.27% 0.03782 271);
    --color-brand-component: oklch(24.68% 0.0374 269.5);
    --color-brand-border: oklch(31.62% 0.03712 272.2);
    --color-brand-ring: oklch(60.13% 0.1982 263.1);
    --color-brand-primary: oklch(60.13% 0.1982 263.1);
    --color-brand-primary-foreground: oklch(97.06% 0.01392 258.3);
    --color-brand-text: oklch(100% 0 0);
    --color-brand-text-muted: oklch(70.79% 0 0);
    --color-brand-text-emphasis: oklch(100% 0 0);
  }
}
