
src/test/__out__/*
src/__out__/*
public/inspect/*
aes*
prisma/db_dump.bak
public/*
src/test/openai/*
src/test/xai/*.txt
src/test/xai/**/*.sse
src/test/xai/*.ts

src/test/v0/*
src/test/sanity/*
src/test/c**/*
*.pdf
testing.sh

src/test/anthropic/*
src/test/xai/**/*
src/test/google/**/*
logs/
shell-scripts/*
probe.sh
